/**{
    color: whitesmoke;
}*/

body{
    background-image: url("../images/prism.png")
}

img{
    float: left;
    margin: 20px;
}

header{
    font-size: 30px;
}

nav{
    background-color: #e3e1df;
    min-height: 40px;
    /*padding: 25px;*/
    margin-bottom: 20px;
    width: 100%;
}

nav div{
    color: black;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    border-width: 2px;
}

section{
    height: 30em;
    width: 75%;
    background-color: #e3e1df;
    margin: auto;
    padding: 20px;
}

table{
    position: relative;
    margin: auto;
}

form{
    padding: inherit;
}

footer{
    background-color: #7d7d7d;
    min-height: 10px;
    padding: 25px;
    margin-top: 3%;
    border-top: 3px solid #FE0267;
    text-align: center;
}

.nav-right{
    padding: 10px;

}

.active{
    border-bottom: 2px solid #FE0267;
}

.input{
    width: 100%;
    margin: 1%;
}

#border{
    border-left: 1px solid black;
    border-right:  1px solid black;
}

#me{
    font-size: 20px;
    background-color: #FE0267;
    padding: 34px;
    position: relative;
    left: 11%;
    display: inline-flex;
}

#contact-header{
    color: #FE0267;
}
#nav-items{
    display: inline-flex;
    float: right;
    position: relative;
    right: 10%;
    top: 20px;
}

@media only screen and (max-width: 1200px){
    footer{
        margin-top: 4%;
    }
}

@media only screen and (max-width: 980px){
    footer{
        margin-top: 5%;
    }

    /*!* Force table to not be like tables anymore *!
    table, thead, tbody, th, td, tr {
        display: block;
    }

    td {
        !* Behave  like a "row" *!
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }*/
}

@media only screen and (max-width: 768px){
    section{
        height: 100%;
    }
    footer{
        margin-top: 7%;
    }

    form br{
        line-height: 1.5;
    }
}

@media only screen and (max-width: 640px){
    nav{
        height: 125px;
    }

    #me{
        padding: 20px 20px 20px 39%;
        width: 100%;
        left: auto;
    }

    #nav-items{
        width: 100%;
        padding: 0px;
        right: auto;
        left: 30%;
        top: 12px;
    }
}

@media only screen and (max-width: 576px){
    #border{
        padding: 10px 20px 10px 20px;
    }

}
